html {
  accent-color: var(--color-accent);
}

:root {
  --color-accent: oklch(65% 50% 0);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 120ch;
  margin-inline: auto;
  padding: 3ch;
}

nav {
  display: flex;
  margin-bottom: 0.75em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex: 1; /* Ensures each list item takes equal space */
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
}

#currlink {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  font-weight: bold;
}


