html {
  accent-color: var(--color-accent);
}

:root {
  --color-accent: oklch(65% 50% 0);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 120ch;
  margin-inline: auto;
  padding: 3ch;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 0.75em;
  border-bottom: 1px solid oklch(80% 3% 200);
}


nav a {
  flex: 1; /* Ensures each list item takes equal space */
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

form {
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

form label {
    display: grid; /* Make each label a grid container */
    grid-template-columns: subgrid; /* Use the form's grid columns */
    grid-column: 1 / -1; /* Make labels span the full width of the form */
  }

button {
    grid-column: 1 / -1;
}
  
label.color-scheme {
  position:absolute;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
  font-size: 80%;
}

select {
  padding: 0.25em;
}
