html {
    accent-color: var(--color-accent);
  }
  
  :root {
    --color-accent: oklch(65% 50% 0);
  }
  
  body {
      /* Set line height to 1.5 times the font size
           and use the OS’s UI font as the website font
         */
      font: 100%/1.5 system-ui;
      max-width: 120ch;
      margin-inline: auto;
      padding: 3ch;
    }
  
  nav ul,
  nav ul li {
    display: contents;
  }
  
  nav {
    display: flex;
    margin-bottom: 0.75em;
    border-bottom: 1px solid oklch(80% 3% 200);
  }
  
  .current {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }
  
  #currlink {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }
  
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    border-bottom: 0.4em solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  
  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    color: var(--color-accent); 
  }

form {
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid; /* Make each label a grid container */
    grid-template-columns: subgrid; /* Use the form's grid columns */
    grid-column: 1 / -1; /* Make labels span the full width of the form */
  }

button {
    grid-column: 1 / -1;
}
  