html {
  accent-color: var(--color-accent);
}

:root {
  --color-accent: oklch(65% 50% 0);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 120ch;
  margin-inline: auto;
  padding: 3ch;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 0.75em;
  border-bottom: 1px solid oklch(80% 3% 200);
}


nav a {
  flex: 1; /* Ensures each list item takes equal space */
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

section {
  border: 2px solid oklch(80% 3% 200);
  border-radius: 0.5em; 
  padding: 1em; 
  margin: 1em 0; 
  background-color: oklch(95% 2% 220); 
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

label.color-scheme {
  position:absolute;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
  font-size: 80%;
}

select {
  padding: 0.25em;
}
